body {
    font: 25px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.adminBG0 {

  background-image: url('../images/1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;


  /*background-color: #1abc9c; !* Green *!*/
  color: #ffffff;


}

.bg-1 {

    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;


    /*background-color: #1abc9c; !* Green *!*/
    color: #ffffff;
}
.bg-2 {
    background-image: url('../images/1.jpg');
    background-color: black; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-image: url('../images/bg0.jpg');
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-image: url('../images/bg5.gif');
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.bg-5 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    background-color: black;
    padding-top: 70px;
    padding-bottom: 70px;

}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.img1
{
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



/*Sign into the Admin page*/

.wrapper {

    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
    color: blue;
    font-weight: bold;
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*Sign into the EVENT page*/
.eventRow{
   style="font-weight:bold;
   background-color: black;
}
